@section scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/App/Scripts/bookShelf.js"></script>
    <script src="~/App/Scripts/ListController.js"></script>
    }
<div ng-app="bookShelf">
    <div ng-controller="ListController as lc"> @*To avoid assigning properties directly to $scope, we use a named controller!*@
        {{lc.message}} 
    </div>
</div>
