@section scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/App/Scripts/bookShelf.js"></script>
    <script src="~/App/Scripts/ListController.js"></script>
    }
<div ng-app="bookShelf">
    <div ng-controller="ListController as lc"> @*To avoid assigning properties directly to $scope, we use a named controller!*@
        <table>
            <tr ng-repeat="book in lc.books">
                <td>{{book.ISBN}}</td>
                <td>{{book.Title}}</td>
                <td>{{book.Author}}</td>
                <td>{{book.PublishYear}}</td>
                <td>{{book.Copies}}</td>
            </tr>
        </table>
    </div>
</div>
