@section scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/App/Scripts/bookShelf.js"></script>
    <script src="~/App/Scripts/ListController.js"></script>
    }
<div ng-app="bookShelf">
    <div ng-controller="ListController">

    </div>
</div>
